<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body})}">

  <body>

    <div class="container form-edit text-center">
      <h2 th:text="#{edit.title}">edit</h2>

      <div class="mt-5">
        <form method="post" th:action="@{/admin/edit/commit}" th:object="${form}">
          <input type="hidden" th:field="*{id}" />
          <table class="table table-striped table-bordered table-hover table-sm">

            <!-- fragment -->
            <th:block th:remove="all">
              <tr th:fragment="item(id, cVal, oVal, text, type, list)">
                <th class="table-light w-25 align-middle" scope="row">
                  <label th:for="${id}" th:text="${text}"></label>
                </th>
                <td
                  th:class="${#fields.hasErrors('__${id}__') ? 'bg-danger' : (cVal != oVal) ? 'bg-warning' : ''}">
                  <!-- 氏名、誕生日 -->
                  <th:block th:if="${type != null}">
                    <input th:type="${type}" th:field="*{__${id}__}" th:id="${id}"
                      class="form-control" />
                  </th:block>

                  <th:block th:if="${type == null}">
                    <select class="form-select" id="${id}" th:field="*{__${id}__}">
                      <!-- 血液型、都道府県、世代 -->
                      <th:block th:if="${list != null}">
                        <option th:each="item : ${list}" th:value="${item.id}"
                          th:text="${item.name}">
                        </option>
                      </th:block>

                      <th:block th:if="${list == null}">
                        <!-- 現役生/卒業生 -->
                        <option value="true" th:text="#{admin.member.active}"></option>
                        <option value="false" th:text="#{admin.member.og}"></option>
                      </th:block>
                    </select>
                  </th:block>
                </td>
              </tr>
            </th:block>

            <tr th:replace="
                ~{::item('name', *{name}, ${originalForm.name}, #{admin.member.name}, 'text', null)}">
            </tr>
            <tr th:replace="
                ~{::item('birthday', *{birthday}, ${originalForm.birthday}, #{admin.member.birthday}, 
                'date', null)}">
            </tr>
            <tr th:replace="
                ~{::item('bloodtypeId', *{bloodtypeId}, ${originalForm.bloodtypeId}, #{admin.member.bloodtype}, 
                null, ${bloodtypeList})}">
            </tr>
            <tr th:replace="
                ~{::item('prefectureId', *{prefectureId}, ${originalForm.prefectureId}, #{admin.member.prefecture},
                null, ${prefectureList})}">
            </tr>
            <tr th:replace="
                ~{::item('generationId', *{generationId}, ${originalForm.generationId}, #{admin.member.generation},
                null, ${generationList})}">
            </tr>
            <tr th:replace="
                ~{::item('active', *{active}, ${originalForm.active}, #{admin.member.active}, null, null)}">
            </tr>
          </table>

          <div class="mt-5">
            <th:block
              th:replace="~{fragments/nogiButton::template('post', '/admin/edit/commit', #{edit.commit}, true)}">
            </th:block>
          </div>

          <div class="mt-5">
            <th:block
              th:replace="~{fragments/nogiButton::template('post', '/admin/edit/check', #{edit.check}, true)}">
            </th:block>
          </div>
        </form>
      </div>

      <div class="mt-5">
        <form>
          <th:block
            th:replace="~{fragments/nogiButton::template('post', '/admin/edit/back', #{edit.back}, true)}">
          </th:block>
        </form>
      </div>

    </div>

  </body>

</html>